@keyframes move-offset {
	0% { background-position: 0% 0; }
	50% { background-position: 100% 0; }
	100% { background-position: 0% 0; }
}
@keyframes shake {
	0% { transform: translateX(0px); }
	10% { transform: translateX(5px); }
	30% { transform: translateX(-5px); }
	50% { transform: translateX(5px); }
	70% { transform: translateX(-5px); }
	90% { transform: translateX(5px); }
	100% { transform: translateX(0px); }
}

.gradient {
 	background: linear-gradient(to left, #FF5555, #F1FA8C, #50FA7B);
	background-size: 600% 100%;
	animation: move-offset 30s ease-in-out infinite;
}

.shake {
	animation: shake .5s linear;
}

body {
	font-family: 'Product Sans', sans-serif;
	position: relative;
}

.middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container {
	margin: auto;
}

.form {
	margin: 0;
	padding: 0;
	width: 280px;
	padding: 50px;
	background-color: #1E1F29;
	border-radius: 25px;
	box-shadow: 0 0 80px 10px rgba(0,0,0,0.3);
}

.container .avatar-img {
	width: 100px;
	height: 100px;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	background-size: cover;
}

.user-panel {
	display: flex;
}

.user-panel .avatar {
	flex: 1;
}

.user-panel .last,
.user-panel .next {
	user-select: none;
	padding: 0 10px;
	line-height: 100px;
	cursor: pointer;
	color: rgba(0, 0, 0, .4);
	border-radius: 5px;
	transition: color .5s;
	vertical-align: middle;
}
.user-panel .last:hover,
.user-panel .next:hover {
	color: rgba(0, 0, 0, .8);
	transition: color .5s;
}

.user {
	font-size: 1.2rem;
	margin-bottom: 25px;
	text-align: center;
	line-height: 37px;
	color: white;
	/* background-color: rgba(0, 0, 0, .2); */
	background-color: #282A36;
	border-radius: 5px;
}

.password {
	font-size: 1rem;
	border: solid #FF79C6 2px;
	outline: none;
	border-radius: 5px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	height: 37px;
	color: #FF79C6;
	background-color: #282A36;	
	/* color: rgba(0, 0, 0, .6); */
}

.message {
	height: 30px;
	line-height: 30px;
	color: #ff8585;
	margin: 10px 0;
	text-align: center;
}

.login {
	font-size: 1.1rem;
	margin-top: 50px;
	display: block;
	border: none;
	outline: none;
	text-align: center;
	height: 37px;
	width: 100%;
	padding: 5px;
	/* padding-top: 30px; */
	border-radius: 5px;
	color: #1E1F29;
	cursor: pointer;
}

.select {
	display: flex;
	font-size: 1rem;
	width: 100%;
	height: 37px;
	text-align: center;
	background: #1E1F29;
	box-sizing: border-box;
	outline: none;
	color: rgba(0, 0, 0, .6);
	position: relative;
}
.select .content {
	flex: 1;
	line-height: 33px;
}

.select .last,
.select .next {
	cursor: pointer;
	padding: 0 5px;
	line-height: 33px;
	color: rgba(0, 0, 0, .4);
	transition: color .5s;
}
.select .last:hover,
.select .next:hover {
	color: rgba(0, 0, 0, .8);
	transition: color .5s;
}

.language {
	margin-top: 25px;
}

html, body {
	margin: 0;
	padding: 0;
}

.last,
.next {
	user-select: none;
}

.icons {
	position: fixed;
	bottom: 30px;
	right: 0;
	display: inline-block;
}

.icons .button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	padding: 10px;
	box-sizing: border-box;
	background: #1E1F29;
	margin-right: 30px;
	display: inline-block;
	cursor: pointer;
	box-shadow: 0 0 20px 1px rgba(0,0,0,.3);
}

.filter-accent{ 
	/* filter of #FF79C6 made with https://codepen.io/sosuke/pen/Pjoqqp */
	filter: invert(80%) sepia(33%) saturate(5233%) hue-rotate(289deg) brightness(101%) contrast(105%);
}

.filter-accent-two{ 
	/* filter of #6BB0BF made with https://codepen.io/sosuke/pen/Pjoqqp */
	filter: invert(75%) sepia(19%) saturate(752%) hue-rotate(143deg) brightness(84%) contrast(89%);	
}
